html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #1a4231;
}

.form-date {
  width: 100%;
  max-width: 500px;
  padding: 12px;
  margin: auto;
}
.card-date {
  max-width: 280px;
  background-color: #f7f7f7;
}
.form-date .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-date .form-control:focus {
  z-index: 2;
}
