<!doctype html>
<html lang="en">
<head>
  {% if lang == "de" %}
  <title>Hütten Schweiz</title>
  {% else %}
  <title>Alpine Huts Switzerland</title>
  {% endif %}

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>
  <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.de.min.js" charset="UTF-8"></script>
  <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.fr.min.js" charset="UTF-8"></script>
  <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.it.min.js" charset="UTF-8"></script>
  <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.en-GB.min.js" charset="UTF-8"></script>

  <script src="{{ url_for('static', filename='script.js') }}"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/static/favicon.png" sizes="32x32">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <meta name="msapplication-TileImage" content="/static/mstile-144x144.png">
    <meta name="msapplication-TileColor" content="#dddddd">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link id="bsdp-css" href="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet">
  <meta name="theme-color" content="#563d7c">


    <style>
    #language-nav {
          width: 200px;
        /* height: 50px; */
        position: absolute;
        right: 100px;
        top: 3px;
        transform: translate(50%,-50%);
        z-index: 100;
        text-align: right;
        margin: 15px;
    }
    #lang-select-{{lang}} {
        color: #e49504 !important;
    }
    {% block style %}
    {% endblock %}
    </style>


  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
    {% block body %}
    <body  class="text-center">
    </body>
    {% endblock %}
</html>
