{% extends "base.html" %}
{% block style %}
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

  .hut-info-card {
      width: 100%;
      max-width: 700px;
      padding: 12px;
      margin: auto;
  }

  .hut-info a:link, .hut-info a:visited {
    text-decoration: none;
    color: #31708f;
  }

  .hut-info a:hover {
    text-decoration: underline;
    color: #31708f;
  }


  #hut-icon-title {
    width: 30px;
  }
  .img-text {
    vertical-align: text-bottom;
  }

  .header-links {
    font-weight: 400;
    font-size: 11pt;
  }
  .hut-date-list {
    width: 100%;
    white-space: nowrap;
    overflow: auto;
    margin-left:1px;
    padding:2px;
    display:flex;
    list-style:none;
  }
  .hut-date-list::-webkit-scrollbar {
      height: 6px;
    }

    .hut-date-list::-webkit-scrollbar-track {
      background: #ddd;
    }

    .hut-date-list::-webkit-scrollbar-thumb {
      background: #aaa;
    }
  .hut-date-element {
    border-radius: 20px;
    border: 1px solid #cccccc;
    /* background: #ddd; */
    padding: 1px  !important;
    margin: 0px;
    margin-bottom: 8px;
    margin-top: 3px;
    margin-right: 3px;
    width: 130px;
  }

    .hut-date-element div {
        display: inline-block;
        vertical-align: middle;
    }
    .hut-date-element .icon {
        border: 0px solid red;
        width:21px;
    }
    .hut-date-element .icon img {
        height:20px;
    }
    .hut-date-element .date {
        width:50px;
        /* height:30px; */
        border: 0px solid red;
        line-height: 85%;
    }
    .hut-date-element .free {
        width:45px;
        /*height:30px; */
        border: 0px solid green;
        border-left: 2px solid #ccc;
        padding-left: 5px;
        margin-right: 3px;
    }

  figure figcaption {
    padding: 0.5rem;
  }
  figure {
      /* padding: 1rem!important; */
    margin-bottom: 2rem!important;
    padding : 0;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    border: 1px solid #ddd;
  }

#legend-link {
    position: relative;
    top: -30px;
    right: 3px;
    font-weight: bold;
    text-align: right;
    height: 0px;
    font-size : 10pt;
}

  #legend-link a:link, .hut-info a:visited {
    text-decoration: none;
  }



{% endblock %}

{% block body %}
<body  class="text-center">

<div id="language-nav">
    <span class="text-muted">
        <a href="/hut/{{hut.sac_id}}?lang=de" class="text-info" id="lang-select-de">DE</a> &sdot;
        <a href="/hut/{{hut.sac_id}}?lang=fr" class="text-info" id="lang-select-fr">FR</a> &sdot;
        <a href="/hut/{{hut.sac_id}}?lang=it" class="text-info" id="lang-select-it">IT</a> &sdot;
        <a href="/hut/{{hut.sac_id}}?lang=en" class="text-info" id="lang-select-en">EN</a>
    </span>
</div>

<div class="hut-info-card" >

  <!-- <h1 class="h4 mb-2 font-weight-normal">Select Date</h1> -->
  <!--
  <p class="mt-3 mb-2 text-muted">

  <small>
  {% if lang == "de" %}
   Es dauert <b>ein paar Minuten</b> bis die Resultate auf der Karte erscheinen.
    {% elif lang == "fr" %}
   Il faut <b>quelques minutes</b> pour voir les résultats sur la carte.
   {% elif lang == "it" %}
   Ci vogliono alcuni minuti per vedere i risultati sulla mappa.
  {% else %}
  It takes <b>a few minutes</b> until you see the results on the map.
  {% endif %}
  </small>

  </p>
  -->
  <br>

  <div class="card text-left mx-auto shadow">
      <div class="card-body  text-left">



<div>
{{description|safe}}
</div>

      </div>
  </div>

  <!--<p class="mt-5 mb-3 text-muted">&copy; 2020</p>-->
</div>


<!-- Modal -->
<div class="modal fade" id="legendModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        {% include 'legend.html' %}
    </div>
</div>



</body>
{% endblock %}
